@model webmva.Models.Modulo 
@{ ViewData["Title"] = "Crea modulo"; }
<div class="col-md-2 sidebar">
    <div class="row">
        <!-- uncomment code for absolute positioning tweek see top comment in css -->
        <div class="absolute-wrapper"> </div>
        <!-- Menu -->
        <br>
        <div class="side-menu col-6">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Main Menu -->
                <div class="side-menu-container">
                    <ul class="nav navbar-nav" style="list-style-type:none">
                        <!-- Dropdown-->
                        <a>
                            <li class="panel-default" id="progetto">
                                <span class="glyphicon glyphicon-barcode"></span>
                                <strong>MODULO</strong>
                        </a>

                        <!-- Dropdown level 1-->
                        <div id="dropdown-lvl1" class="panel-collapse">
                            <div class="panel-body">
                                <ul class="panel-default" style="list-style-type:none; margin-left:-40px">
                                    <li>
                                        <a href="#" data-toggle="collapse" data-target="#apriNmap">Nmap scan</a>
                                    </li>
                                    <br>
                                    <li>
                                        <a href="#" data-toggle="collapse" data-target="#apriNessus">Nessus scan</a>
                                    </li>
                                    <br>
                                    <li>
                                        <a href="#" data-toggle="collapse" data-target="#apriOpenVAS">OpenVAS scan</a>
                                    </li>
                                    <br>


                                </ul>

                            </div>
                        </div>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

        </div>
    </div>
</div>

<div class="col-6 col-md-10">
    <br>
    <div class="col-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" data-toggle="collapse" data-target="#apriNmap">
                    <strong>
                        NMAP SCAN
                    </strong>
                    <span class="caret"></span>
                </a>
            </div>
            <div class="collapse col-5" id="apriNmap">
                <div class="panel-body">
                    <h4>
                        <strong> Configura modulo </strong>
                    </h4>
                    <hr>
                    <form asp-action="Create" name="nmapForm">
                        <label asp-for="Nome"></label>
                        <div class="panel panel-default">
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label>Opzioni</label>
                            <div class="panel panel-default">
                                <div class="panel-body form-horizontal payment-form">
                                    <div class="form-check">
                                        <label>
                                            <input type="radio" id="pingScan" name="nmap" value="-sn">
                                            <span class="label-text">Ping scan </span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label>
                                            <input type="radio" id="scanVeloce" name="nmap" value="-T4 -F">
                                            <span class="label-text"></span>Scan veloce</span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label>
                                            <input type="radio" id="scanIntenso" name="nmap" value="-T4 -A -v">
                                            <span class="label-text">Scan intenso</span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label>
                                            <input type="radio" id="porteUDP" name="nmap" value="-sS -sU">
                                            <span class="label-text">Porte UDP</span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label>
                                            <input type="radio" id="allTCP" name="nmap" value="-p 1-65535">
                                            <span class="label-text">Tutte le porte TCP</span>
                                        </label>
                                    </div>
                                    <br>
                                    <input type="text" asp-for="Comando" class="form-control" id="Comando" name="Comando">
                                    <br>
                                    <div class="col text-right">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" data-toggle="collapse" data-target="#apriNessus">
                    <strong>
                        NESSUS SCAN
                    </strong>
                    <span class="caret"></span>
                </a>
            </div>
            <div class="collapse col-5" id="apriNessus">
                <div class="panel-body">
                    <h4>
                        <strong> Configura modulo </strong>
                    </h4>
                    <hr>
                    <form asp-action="Create" name="nessusForm">
                        <label asp-for="Nome"></label>
                        <div class="panel panel-default">
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label>Opzioni</label>
                            <div class="panel panel-default">
                                <div class="panel-body form-horizontal payment-form">
                                    <div class="form-check">
                                        <label>
                                            <input type="radio" id="simpleScan" name="nessus" value="BOH!">
                                            <span class="label-text">Scan semplice </span>
                                        </label>
                                    </div>
                                    <br>
                                    <input type="text" asp-for="Comando" class="form-control" id="Comando2" name="Comando2">
                                    <br>
                                    <div class="col text-right">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" data-toggle="collapse" data-target="#apriOpenVAS">
                    <strong>
                        OPENVAS SCAN
                    </strong>
                    <span class="caret"></span>
                </a>
            </div>
            <div class="collapse col-5" id="apriOpenVAS">
                <div class="panel-body">
                    <h4>
                        <strong> Configura modulo </strong>
                    </h4>
                    <hr>
                    <form asp-action="Create" name="nmapForm">
                        <label asp-for="Nome"></label>
                        <div class="panel panel-default">
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label>Opzioni</label>
                            <div class="panel panel-default">
                                <div class="panel-body form-horizontal payment-form">
                                    <div class="form-check">
                                        <label>
                                            <input type="radio" id="scan" name="openvas" value="BOH!">
                                            <span class="label-text">Scan</span>
                                        </label>
                                    </div>
                                    <br>
                                    <input type="text" asp-for="Comando" class="form-control" id="Comando3" name="Comando3">
                                    <br>
                                    <div class="col text-right">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section scripts{
<script>
    $(function () {
        // Questa funzione va a cambiare il campo del comando ogni volta
        // che viene cliccato un radio button nel gruppo riguardante nmap    
        $('input[name=nmap]').change(function () {
            switch ($('input[name=nmap]:checked').val()) {
                case '-sn':
                    $('#Comando').val('-sn');
                    break;
                case '-T4 -F':
                    $('#Comando').val('-T4 -F'); break;
                case '-T4 -A -v':
                    $('#Comando').val('-T4 -A -v'); break;
                case '-sS -sU':
                    $('#Comando').val('-sS -sU'); break;
                case '-p 1-65535':
                    $('#Comando').val('-p 1-65535'); break;
                case ' ':
                    break;
                default:
                    $('#Comando').val('');
            };
        }).change();
        // Questa funzione ascolta ogni pressione di tastiera nel campo comando
        // per togliere il valore checked nei radio button nel gruppo di nmap
        $('#Comando').keyup(function () {
            $('input[name=nmap]').removeAttr('checked');
        });
    });
</script> }