@model webmva.Models.Modulo 
@{ ViewData["Title"] = "Delete"; }

<!--<h2>Cancella  @Html.DisplayFor(model => model.Nome)</h2>-->

<h3>Sei sicuro di voler cancellare @Html.DisplayFor(model => model.Nome)?</h3>
<hr />
<div class="col-md-7">
    <form asp-action="Delete">
        <div class="panel panel-default col-md-10">
            <div class="container">
                <div class="form-group">
                    <div class="col-md-7">
                        <!--vedere l'elenco puntato-->
                        <dl class="dl-horizontal">
                            <div class="panel-body">
                                <dt>
                                    <strong> Nome  </strong>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>
                            </div>
                            <div class="panel-body">
                                <dt>
                                    <strong> Comando  </strong>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Comando)
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <input type="submit" value="Cancella" class="btn btn-default" /> |
                        <a asp-action="Index">Torna alla lista</a>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>