@model webmva.Models.Modulo 
@{ ViewData["Title"] = "Dettagli"; }

<h2>Dettagli @Html.DisplayFor(model => model.Nome)
</h2>
<hr />
<div class="col-md-7 ">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="panel panel-default col-md-10">
            <div class="container">
                <div class="form-group">
                    <div class="col-md-7">
                        <!--vedere l'elenco puntato-->
                        <dl class="dl-horizontal">
                            <div class="panel-body">
                                <dt>
                                    <strong> Nome : </strong>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>
                            </div>
                            <div class="panel-body">
                                <dt>
                                    <strong> Comando : </strong>
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Comando)
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.ID" >Modifica </a>&nbsp;|
                        <a asp-action="Index"> Torna alla lista</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</div>