@model IEnumerable<webmva.Models.Report>

    @{ ViewData["Title"] = "Report"; }
    <div class="container">
        <h2>Report</h2>
        <p class="lead">
            Per importare un report <a href="/Report/Import">clicca qui</a> !
        </p>
        <hr/>
     
                
        </div>
        <div class="panel panel-default col-lg-10 col-md-offset-1">
            <table class="table">
                <div class="method">
                    <thead>
                        <tr>
                            <th>
                               @Html.DisplayNameFor(model => model.NomeProgetto)
                            </th>
                            <th>
                                Scan avvenuto
                            </th>
                            <th> 
                            </th>
                            
                            <th></th>
                        </tr>
                    </thead>
                </div>
                <tbody>
                      @foreach (var item in Model.moduliInseriti)
                    {
                       
                        <tr> 
                            <td>
                                <a> @Html.DisplayFor(modelItem => item.NomeProgetto)</a> 
                            </td>
                            <td>
                                <div class="col-sm-10 col-sm-offset-3">
                                    <a asp-action="Edit" >Scarica</a> |
                                   
                                     <a asp-action="Edit" >Importa scan</a>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
