@model IEnumerable<webmva.Models.Report>

    @{ ViewData["Title"] = "Report"; }
    <div class="container">
        <h2>Report</h2>
        <p class="lead">
            I report presenti sono questi! Per importare un report <a >clicca qui</a> !
        </p>
        <hr/>
        <div class="panel panel-default col-lg-10">
           
                <div class="method">
                   
                </div>
                
        </div>
    </div>
