@model webmva.Models.Report

    @{ ViewData["Title"] = "Report"; }
    <div class="container">
        <h2>Report</h2>
        <p class="lead">
            Per importare un report <a href="/Report/Import">clicca qui</a> !
        </p>
        <hr/>
     
                
        </div>
        <div class="panel panel-default col-lg-10 col-md-offset-1">
            <table class="table">
                <div class="method">
                   <thead>
                        <tr>
                            
                            <th>
                                @Html.DisplayFor(model => model.Progetto.Nome)
                            </th>
                            
                            <th></th>
                        </tr>
                    </thead>
                </div>
            <tbody>
                    @foreach (var item in Model.Percorsi)
                    {
                        <tr>
                            <td>
                               checkbox 
                            </td>
                            <td>
                              @Html.DisplayFor(model => model.Percorsi)
                            </td>
                            <td>
                                <div class="col-sm-8 col-sm-offset-6">
                                    <a href="Scarica" >Cancella </a>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
