@model IEnumerable<webmva.Models.Report>

@{ ViewData["Title"] = "Report"; }

<div class="container">
    <div class="row">
        <h2><em>Report</em></h2>
        <p class="lead">
            I report presenti sono questi! Per importare un report in un progetto <a href="/Report/Import">clicca qui </a>!
        </p>
        <!--rivedere-->
        <hr />
        <div class="panel panel-default col-md-9 col-md-offset-1">
            <table class="table">
                <div class="method">
                    <thead>
                        <tr>
                            <th>
                                Nome Progetto
                            </th>
                            <th>
                                Data svolgimento
                            </th>
                            
                            <th></th>
                        </tr>
                    </thead>
                </div>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Progetto.Nome)
                            </td>
                            <td>
                                @Html.Raw(item.Data.ToString("dd/MM/yyyy HH:ss"))
                            </td>
                            
                            <td>
                                <div class="col-sm-8 col-sm-offset-6">
                                    <a asp-action="Details" asp-route-id="@item.ID">Dettagli</a> | 
                                    <a asp-action="Delete" asp-route-id="@item.ID">Cancella </a>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>