@{ ViewData["Title"] = "Home"; }

<div class="col-md-2 sidebar">
    <div class="row">
        <!-- uncomment code for absolute positioning tweek see top comment in css -->
        <div class="absolute-wrapper"> </div>
        <!-- Menu -->
        <br>
        <div class="side-menu col-6">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Main Menu -->
                <div class="side-menu-container">
                    <ul class="nav navbar-nav" style="list-style-type:none">

                        <!-- Dropdown-->
                        <li class=" panel-default" id="dropdown">
                            <a data-toggle="collapse" href="#dropdown-lvl1">
                                <span class="glyphicon glyphicon-barcode"></span>
                                <strong> PROGETTO</strong>
                                <span class="caret"></span>
                            </a>

                            <!-- Dropdown level 1 -->
                            <div id="dropdown-lvl1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="panel-default">
                                        <li>
                                            <a data-toggle="modal" data-target="#nuovoProgetto" href="">nuovo progetto </a>
                                        </li>
                                        <li>
                                            <a href="/visualizzaProgetto">visualizza progetti recenti</a>
                                        </li>
                                        <li>
                                            <a href="/visualizzaProgetto">visualizza progetti</a>
                                        </li>


                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="panel-default" id="dropdown">
                            <a data-toggle="collapse" href="#dropdown-lvl2">
                                <span class="glyphicon glyphicon-barcode"></span>
                                <strong> MODULO</strong>
                                <span class="caret"></span>
                            </a>

                            <!-- Dropdown level 1 -->
                            <div id="dropdown-lvl2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="panel-default">
                                        <li>
                                            <a href="/Modulo">nuovo modulo</a>
                                        </li>
                                        <li>
                                            <a href="/Visualizza">visualizza moduli</a>
                                        </li>
                                        <li>
                                            <a href="">Link</a>
                                        </li>

                                        <!-- Dropdown level 2 -->

                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class=" panel-collapse" id="dropdown">
                            <a data-toggle="collapse" href="#dropdown-lvl3">
                                <span class="glyphicon glyphicon-barcode"></span>
                                <strong> REPORT </strong>
                                <span class="caret"></span>
                            </a>

                            <!-- Dropdown level 1 -->
                            <div id="dropdown-lvl3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="panel-default">
                                        <li>
                                            <a href="/importaReport">importa report</a>
                                        </li>
                                        <li>
                                            <a href="/visualizzaReport">visualizza report</a>
                                        </li>
                                        <li>
                                            <a href="#">Link</a>
                                        </li>

                                        <!-- Dropdown level 2 -->

                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

        </div>
    </div>
</div>

<div class="col-6 col-md-10">

    <br>

    <div class="col-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>
                    Cos'è WEBMVA?
                </strong>
            </div>
            <div class="panel-body">

                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem
                ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>
                    Contatti
                </strong>
            </div>
            <div class="panel-body">
                <ul class="panel-default" role="menu">
                    <li class="">
                        <strong>Professore</strong>
                        <a href="http://computerscience.unicam.it/marcantoni/" target="blank">
                            <strong>Fausto Marcantoni</strong>
                        </a>
                    </li>
                    <li class="">
                        <strong>Margherita Renieri:</strong>
                        <a href="mailto:margherita.renieri@studenti.unicam.it"> margherita.renieri@studenti.unicam.it</a>
                        <br />
                    </li>
                    <li class="">
                        <strong>Riccardo Cannella:</strong>
                        <a href="mailto:riccardo.cannella@studenti.unicam.it"> riccardo.cannella@studenti.unicam.it</a>

                </ul>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="nuovoProgetto" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-toggle="modal" data-target="#confermaChiusura">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>-->
                <h3 class="modal-title" id="lineModalLabel">
                    <strong>Nuovo Progetto</strong>
                </h3>
            </div>
            <div class="modal-body">
                <!-- content goes here -->
                <form>
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="nome del progetto">
                    </div>
                    <div class="fcol-xs-6 form-group">
                        <label for="data">Data</label>
                        <input type="date" class="form-control" id="data" placeholder="data">
                    </div>
                    <!-- CREARE UN CODICE IN BASE AL NOME DEL PROGETTO E ALLA DATA-->
                    <div class="col-xs-3 form-group">
                        <button typer="button" class="btn btn-default" on-click="generaCodice()">Genera codice
                        </button>
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="text" class="form-control" id="nome" placeholder="codice">
                    </div>
                    <br>

                    <div class="col-8 form-group">
                        <label for="descrizione">Descrizione</label>
                        <textarea class="form-control" id="descrizione" placeholder="descrizione del progetto" rows="5" cols="40" style="resize:none"
                            maxlength="1000"></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" data-dismiss="modal" role="button" data-toggle="modal" data-target="#confermaChiusura">Cancella</button>
                    </div>

                    <div class="btn-group" role="group">
                        <button type="button" id="Visualizza" class="btn btn-default " data-action="save" role="button" onclick="location.href='@Url.Action("
                            Index ", "Visualizza ")'; return false;">Salva</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="confermaChiusura" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <h4>
                    <strong>Confermi di chiudere questo progetto?</strong>
                </h4>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group">
                    <button class="btn btn-default" data-dismiss="modal">SI</button>
                    <button class="btn btn-default" data-target="#nuovoProgetto" data-toggle="modal" data-dismiss="modal"> NO</button>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dalog -->
</div>
<!-- /.modal -->

@section scripts{
<script>
    $(function generaCodice()  {
        var nome = document.getElementById("nome");  
        var data = document.getElementById("data");   
        //--var codice = (nome.slice(1,3)+data.slice(0,3));
        var codice = nome.concatenate(data).using(_);
  document.write(codice);
   
});

</script> }